.heading{

}


.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.inner-div{
  border: 1px solid rgb(227, 226, 226);
  background: linear-gradient(90deg, #b4c0f1, #9574b7);
  padding-inline: 15%;
  padding-top: 25px;
}

.todoheading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: x-large;
}

.todolabel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todolabel input {
  width: 100%;    /* 👈 increase width as you like */
  padding: 8px;    /* adds spacing inside the box */
  font-size: 16px; /* optional, for better text look */
}



.add-btn {
  background: linear-gradient(90deg, #667eea, #764ba2);
  color: white;
  font-weight: 600;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(118, 75, 162, 0.4);
  margin-top: 15px;
}

.add-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #764ba2, #667eea);
}

.todos{
  color: white;
  font-size: x-large;
  text-decoration: none;
   list-style-type: none;
}

